---

local_username: "{{ local_username }}"
setup_vuln_docker_images: false

system_packages:
  - amass
  - seclists
  - payloadsallthethings
  - linux-exploit-suggester
  - mat2
  - sshuttle
  - chisel
  - bettercap
  - sslstrip
  - tree
  - parallel
  - meld
  - gobuster
  - chromium
  - nishang
  - 2to3
  - rlwrap
  - bat
  - burpsuite
  - hashrat
  - name-that-hash
  - feroxbuster
  - tealdeer
  - tig
  - python3-cachecontrol
  - python3-poetry
  - python3-pip
  - ripgrep
  - ncat
  - testssl.sh
  - jq
  - nala
  - tilix  # tiling terminal emulator for Linux using GTK+ 3
  - pipx
  - btop
  - duf
  - trufflehog
  - strace
  - python3-pwntools
  - dconf-cli
  - libpcap-dev  # package required for naabu
  - massdns
  - cargo
  - golang-go
  - mtr-tiny
  - trivy  # Find vulnerabilities, misconfigurations, secrets, SBOM in containers, Kubernetes, code repositories, clouds and more
  - mitmproxy  # interactive TLS-capable intercepting HTTP proxy
  - realtek-rtl88xxau-dkms  # Realtek RTL88xxAU driver in DKMS format
  - foliate             # ebook reader
  - pcre2-utils         # provides pcre2grep and pcre2test (perl-compatible regex)
  - ligolo-ng  # an advanced, yet simple, tunneling/pivoting tool that uses a TUN interface
  - kali-tools-top10    # metapackage https://www.kali.org/tools/kali-meta/#kali-tools-top10

pipx_packages:
  - ruff  # python linter and formatter
  - chepy  # a python lib/cli equivalent of the awesome CyberChef tool
  - git+https://github.com/Pennyw0rth/NetExec  # network pentest tool; replacement for discontinued CrackMapExec
  - git+https://github.com/Tib3rius/AutoRecon.git  # AutoRecon is a multi-threaded network reconnaissance tool which performs automated enumeration of services

# nerd fonts from https://github.com/ryanoasis/nerd-fonts
nerd_fonts:
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Retina/FiraCodeNerdFontMono-Retina.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Inconsolata/InconsolataNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/UbuntuMono/Regular/UbuntuMonoNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Monoid/Retina/MonoidNerdFontMono-Retina.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/DroidSansMono/DroidSansMNerdFontMono-Regular.otf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Hack/Regular/HackNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/RobotoMono/Regular/RobotoMonoNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/VictorMono/Regular/VictorMonoNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/CascadiaCode/Regular/CaskaydiaCoveNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Noto/Mono/NotoMonoNerdFontMono-Regular.ttf"
  - "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFontMono-Regular.ttf"

projectdiscovery_tools:
  - pdtm
  - nuclei
  - naabu
  - subfinder
  - httpx
  - katana
  - dnsx
  - tlsx
  - simplehttpserver

projectdiscovery_tool_manager_url: "https://api.github.com/repos/projectdiscovery/pdtm/releases/latest"

vscodium:
  apt_key_url: "https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg"
  apt_key_keyring: "/etc/apt/trusted.gpg.d/vscodium-archive-keyring.gpg"
  repo: "deb [ signed-by=/etc/apt/trusted.gpg.d/vscodium-archive-keyring.gpg ] https://download.vscodium.com/debs vscodium main"
  package: "codium"
  repo_filename: "vscodium"
  extensions:
    - redhat.vscode-yaml
    - vscodevim.vim
    - ms-python.python
    - oderwat.indent-rainbow
    - rangav.vscode-thunder-client

...
